<html lang="en" th:replace="~{base::html(
    ~{::title},
    ~{::content},
    ~{},
    ~{}
)}">
<title>Edit Order Status</title>

<th:block th:fragment="content">
    <h1>Edit Order Status</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orderItem}">
                <td th:text="${order.id}"></td>
                <td>
                    <!-- Dropdown to select order status -->
                    <form method="POST" th:action="@{/order/edit/{id}(id=${order.id})}">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <!-- Status dropdown -->
                        <div class="input-group">
                            <select class="form-select form-select-sm" name="status" th:value="${order.status}">
                                <option value="Processing" th:selected="${order.status == 'Processing'}">Processing
                                </option>
                                <option value="Cancelled" th:selected="${order.status == 'Cancelled'}">Cancelled
                                </option>
                                <option value="Shipping" th:selected="${order.status == 'Shipping'}">Shipping</option>
                                <option value="Completed" th:selected="${order.status == 'Completed'}">Completed
                                </option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary btn-sm">Update</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</th:block>

</html>